@import url("./fonts/fonts.css");
body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: black;
  background-image: url("./images/fondo9.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  font-weight: lighter;
}

@import url("./components/Header/Header.css");
@import url("./components/Cover/Cover.css");
@import url("./components/About/About.css");
@import url("./components/Members/Members.css");
@import url("./components/InfoPopup/InfoPopup.css");
